@font-face {
    font-weight: 100;
    font-family: Poppins;
    font-style: normal;
    src: url("../fonts/Poppins-Thin.ttf");
}

@font-face {
    font-weight: 100;
    font-family: Poppins;
    font-style: italic;
    src: url("../fonts/Poppins-ThinItalic.ttf");
}

@font-face {
    font-weight: 200;
    font-family: Poppins;
    font-style: normal;
    src: url("../fonts/Poppins-ExtraLight.ttf");
}

@font-face {
    font-weight: 200;
    font-family: Poppins;
    font-style: italic;
    src: url("../fonts/Poppins-ExtraLightItalic.ttf");
}

@font-face {
    font-weight: 300;
    font-family: Poppins;
    font-style: normal;
    src: url("../fonts/Poppins-Light.ttf");
}

@font-face {
    font-weight: 300;
    font-family: Poppins;
    font-style: italic;
    src: url("../fonts/Poppins-LightItalic.ttf");
}

@font-face {
    font-weight: 400;
    font-family: Poppins;
    font-style: normal;
    src: url("../fonts/Poppins-Regular.ttf");
}

@font-face {
    font-weight: 500;
    font-family: Poppins;
    font-style: normal;
    src: url("../fonts/Poppins-Medium.ttf");
}

@font-face {
    font-weight: 500;
    font-family: Poppins;
    font-style: italic;
    src: url("../fonts/Poppins-MediumItalic.ttf");
}

@font-face {
    font-weight: 600;
    font-family: Poppins;
    font-style: normal;
    src: url("../fonts/Poppins-SemiBold.ttf");
}

@font-face {
    font-weight: 600;
    font-family: Poppins;
    font-style: italic;
    src: url("../fonts/Poppins-SemiBoldItalic.ttf");
}

@font-face {
    font-weight: 700;
    font-family: Poppins;
    font-style: normal;
    src: url("../fonts/Poppins-Bold.ttf");
}

@font-face {
    font-weight: 700;
    font-family: Poppins;
    font-style: italic;
    src: url("../fonts/Poppins-BoldItalic.ttf");
}

@font-face {
    font-weight: 800;
    font-family: Poppins;
    font-style: normal;
    src: url("../fonts/Poppins-ExtraBold.ttf");
}

@font-face {
    font-weight: 800;
    font-family: Poppins;
    font-style: italic;
    src: url("../fonts/Poppins-ExtraBoldItalic.ttf");
}

@font-face {
    font-weight: 900;
    font-family: Poppins;
    font-style: normal;
    src: url("../fonts/Poppins-Black.ttf");
}

@font-face {
    font-weight: 900;
    font-family: Poppins;
    font-style: italic;
    src: url("../fonts/Poppins-BlackItalic.ttf");
}